html {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  color: seashell;
  padding: 0 20px;
}

* {
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
}

.logo img {
  height: 50px;
}

.nav-links a {
  text-decoration: underline;
  padding: 0 8px;
  cursor: pointer;
  color: seashell;
}

.hero {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.mission {
  padding: 8px;
  width: 1200px;
  background-color: black;
}
.mission h4 {
  padding: 12px;
}

.tea-selection {
  width: 1000px;
  line-height: 2;
  padding: 52px;
  display: inline;
}
.images1,
.images2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 8px;
}

.images2 {
  justify-content: space-around;
  padding-bottom: 48px;
}

.card img {
  width: 300px;
  height: 200px;
}

.locations {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  display: inline-block;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.location-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.loc {
  background-color: black;
  margin: 0 auto;
  padding: 24px;
  margin-top: 15px;
}

.loc li,
footer li {
  list-style: none;
  line-height: 2.5;
}

.footer {
  height: 200px;
}

footer li {
  margin-right: 30px;
}
footer h6 {
  text-align: left;
}
